.clock2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50%;
  margin: 0 auto;
  position: relative;
  background: #2f2f2f;
  background-size: cover;
  font-family: "Josefin Slab", serif;
  top: 50%;
  transform: translateY(-50%);
}

.time {
  display: flex;
  width: 80%;
  height: 70%;
  text-align: center;
  font-size: 4em;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border: 5px solid #FFFFFF;
}

@media (max-width: 913px) {
  .time{
    font-size: 30px;
  }
  .clock2{
    width: 96%;
    height: 270px;
    margin-top:210px;
  }
}
