.score-card {
  padding: 1px 30px;
  color: #bb9f77;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background: #FFEFD5;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size:20px;
  padding: 0;
}

.title{
  font-weight:900;
  font-size:25px;
}

.data{
  margin-top: -18px;
}

.button-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sound {
  width: 25px;
  height: 18px;
  margin-left: 10px;
  background-size: cover;
  cursor: pointer;
}

.sound.sound-on {
  background-image: url("/assets/sound_on.png");
}

.sound.sound-off {
  background-image: url("/assets/sound_off.png");
}

.instruction-window {
  display: none;
}

.instruction-window.show {
  display: flex;
  position: fixed;
  top: 10%;
  left: 4%;
  flex-direction: column;
  text-align: left;
  width: 60vmin;
  padding: 2%;
  background: rgba(254, 208, 73, 0.76);
  color: #333333;
  border-radius: 10px;
  z-index: 100;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333333;
}

.size{
  font-size:15px;
  color:black;
  background: #bb9f77;
  padding: 8px;
  border-radius:  34px;
}

@media (max-width: 768px) {
  .score-card {
    padding: 5px;
  }
}

@media (max-width: 566px) {
  .score-card {
    padding: 5px;
    align-items: center;
    flex-wrap: wrap;
  }

  .score-board {
    flex-basis: 23%;
    margin-bottom: 10px;
    text-align: center;
  }

  .score-board:nth-child(2) { /* Best Score */
    order: 1;
  }

  .score-board:nth-child(3) { /* Score */
    order: 2;
  }

  .score-board:nth-child(4) { /* Level */
    order: 3;
  }

  .score-board:nth-child(5) { /* Time */
    order: 4;
  }

  .score-board:nth-child(1),
  .score-board:nth-child(7),
  .score-board:nth-child(6) {
    order: 5;
    flex-basis: 33.33%;
  }

  .score-board:nth-child(1) .sound {
    margin: 0 10px;
    width: 70px;
  }
}
