.score-card {
  padding: 1px 30px;
  color: #bb9f77;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background: #FFEFD5;

}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size:20px;

  padding: 0;
}

.title{
  font-weight:900;
  font-size:25px;
}

.data{
  margin-top: -18px;
}

.button-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sound {
  width: 25px;
  height: 18px;
  margin-left: 10px;
  background-size: cover;
  cursor: pointer;
}
.sound.sound-on {
  background-image: url("/assets/sound_on.png");
}

.sound.sound-off {
  background-image: url("/assets/sound_off.png");
}
.instruction-window {
  display: none;
}

.instruction-window.show {
  display: flex;
  position: fixed;
  top: 10%;
  left: 4%;
  flex-direction: column;
  text-align: left;
  width: 60vmin;
  padding: 2%;
  background: rgba(254, 208, 73, 0.76);
  color: #333333;
  border-radius: 10px;
  z-index: 100;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333333;
}

.size{
  font-size:15px;
  color:black;
  background: #bb9f77;
  padding: 8px;
  border-radius:  34px;
}


@media (max-width: 768px) {
  .score-card {
    padding: 5px;
  }

  .score-board {
    font-size: 55%;
  }
}

@media (max-width: 480px) {
  .score-card {
    padding: 5px;
    font-size: 85%;
    align-items: flex-start;
  }

  .sound {
    margin-left: 3px;

  }
}
