.title-container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 135px;
  width: 100%;
}

.title {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  font-size: 40px;
  text-align: center;
}

.title::before,
.title::after {
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 4px solid #2f2f2f;
  width: 30%;
  transition: width 2s ease;
  transform: translateY(-50%);
}

.title::before {
  right: calc(100% + 10px);
}

.title::after {
  left: calc(100% + 10px);
}

.title.animate-lines::before,
.title.animate-lines::after {
  width: 160px;
}

.clocks {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  margin-top: 30px;
}

.clock-container {
  position: relative;
  width: 48%;
  height: 130%;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 10px;
}

.clock-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/butterfly.png') repeat;
  background-size: 20px 20px;
  opacity: 0.32;
  z-index: -1;
}

app-analog-clock,
app-digital-clock {
  width: 95%;
  height: 96%;
  margin: 0;
  position: relative;
  z-index: 2;
  background: #FFFFFF;
}

.clock-label-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 35%;
  height: 40px;
  z-index: 2;
  background: #FFFFFF;
  margin-bottom: 0;
}

.clock-label {
  font-size: 18px;
  margin: 0;
}

@media (max-width: 913px) {
  .clocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }

  .clock-container {
    width: 100%;
    margin: 10px auto;
    position: relative;
    height: auto;
    min-height: 35vh;
  }

  .title {
    font-size: 30px;
  }

  .clock-label {
    font-size: 14px;
  }

  .title.animate-lines::before,
  .title.animate-lines::after {
    width: 100px;
  }
}

@media (max-width: 1280px){
  .clock {
    margin: 50px auto;
  }
}
