<div class="panel" [ngClass]="{'visible': isPanelVisible}">

    <button class="btn-panel" (click)="togglePanel()"> {{ isPanelVisible ? '&#10094;' : '&#10095;' }}</button>
  <div class="projects">
    <a routerLinkActive="active-link" routerLink="/home"><img class="projectImg"  src="../../../../../assets/home.png" alt=""></a>
    <a routerLinkActive="active-link" routerLink="/clock"><img class="projectImg" src="../../../../../assets/time.png" alt=""></a>
    <a routerLinkActive="active-link" routerLink="/todo"> <img class="projectImg" src="../../../../../assets/todo-list.png" alt=""></a>
    <a routerLinkActive="active-link" routerLink="/calculator"><img class="projectImg" src="../../../../../assets/calculator.png" alt=""></a>
    <a routerLinkActive="active-link" routerLink="/movies"><img class="projectImg" src="../../../../../assets/movies.png" alt=""></a>
    <a routerLinkActive="active-link" routerLink="/game"><img class="projectImg" src="../../../../../assets/game.png" alt=""></a>
  </div>
</div>
