<div class="container">
  <!-- Logo section -->
  <div class="logo">
    <p class="logo-text">IRYNA HRECHYN</p>
  </div>

  <!-- Contacts section -->
  <div class="contacts">
    <p class="number-phone">+38 098 720 9486</p>
    <div class="group-networks">
      <!-- Telegram link -->
      <a href="https://t.me/irynaa_Hr" target="_blank">
        <img class="logo-communication" src="assets/telegram.png" alt="Telegram">
      </a>
      <!-- Instagram link -->
      <a href="https://www.instagram.com/iryna.hrechyn" target="_blank">
        <img class="logo-communication" src="assets/instagram.png" alt="Instagram">
      </a>
      <!-- GitHub link -->
      <a href="https://github.com/IraHrechyn" target="_blank">
        <img class="logo-communication" src="assets/github.png" alt="GitHub">
      </a>
      <!-- LinkedIn link -->
      <a href="https://www.linkedin.com/in/iryna-hrechyn-7754532b4" target="_blank">
        <img class="logo-communication" src="assets/linkedin.png" alt="LinkedIn">
      </a>
    </div>
  </div>
</div>
