<app-menu></app-menu>
<app-header></app-header>

<div class="container">
  <div class="top">
    <div class="image-container">
      <img class="triangle-on-top" src="assets/triangle.png" alt="triangle">
      <div class="butterfly-group"></div>
    </div>
  </div>
</div>

<div class="title-container black first-section" id="about-me">
  <p class="text title">ABOUT ME</p>
</div>
<app-about-me></app-about-me>

<app-projects></app-projects>

<div class="container">
  <div class="top">
    <div class="image-container">
      <img class="triangle-on-top reverse" src="assets/triangle.png" alt="triangle">
      <div class="butterfly-group"></div>
    </div>
  </div>
</div>

<div class="title-container black" id="contact">
  <p class="text title">CONTACT</p>
</div>
<app-contact></app-contact>

<app-footer></app-footer>

