<app-menu></app-menu>
<app-header></app-header>

<!-- Main content container -->
<div class="container">
  <!-- Top section with image and butterfly group -->
  <div class="top">
    <div class="image-container">
      <img class="triangle-on-top" src="assets/triangle.png" alt="triangle">
      <div class="butterfly-group"></div>
    </div>
  </div>
</div>

<!-- About Me section -->
<div class="title-container black first-section" id="about-me">
  <p class="text title">ABOUT ME</p>
</div>
<app-about-me></app-about-me>

<!-- Projects section -->
<app-projects></app-projects>

<!-- Another container for layout consistency -->
<div class="container">
  <!-- Top section with image and butterfly group -->
  <div class="top">
    <div class="image-container">
      <img class="triangle-on-top reverse" src="assets/triangle.png" alt="triangle">
      <div class="butterfly-group"></div>
    </div>
  </div>
</div>

<!-- Contact section -->
<div class="title-container black" id="contact">
  <p class="text title">CONTACT</p>
</div>
<app-contact></app-contact>

<!-- Footer -->
<app-footer></app-footer>

