<!-- Header Container -->
<div class="header-container" id="home">
  <!-- Header Text -->
  <div class="header-text">
    <!-- Title -->
    <p class="text-title">HRECHYN IRYNA</p>
    <!-- Subtitle -->
    <p class="text">Junior FRONT-END developer <br>and a girl who loves programming</p>
    <!-- Communication Links -->
    <div class="communication">
      <a href="https://t.me/irynaa_Hr" target="_blank">
        <img class="logo-communication" src="assets/telegram.png" alt="Telegram">
      </a>
      <a href="https://www.instagram.com/iryna.hrechyn" target="_blank">
        <img class="logo-communication" src="assets/instagram.png" alt="Instagram">
      </a>
      <a href="https://github.com/IraHrechyn" target="_blank">
        <img class="logo-communication" src="assets/github.png" alt="GitHub">
      </a>
      <a href="https://www.linkedin.com/in/iryna-hrechyn-7754532b4" target="_blank">
        <img class="logo-communication" src="assets/linkedin.png" alt="LinkedIn">
      </a>
    </div>
  </div>
  <!-- Profile Photo -->
  <img class="my-photo" src="assets/my-photo.png" alt="my-photo">
</div>
