<div id="projects" class="projects-container">

  <div class="title">
    <p class="text">PROJECTS</p>
  </div>

  <div class="carousel-container">
    <div class="carousel">

      <div
        class="project"
        *ngFor="let project of projects; let i = index"
        [class.active]="i === currentIndex"
        [class.enter-left]="i === currentIndex && direction === 'left'"
        [class.enter-right]="i === currentIndex && direction === 'right'"
        [class.exit-left]="i === prevIndex && direction === 'left'"
        [class.exit-right]="i === prevIndex && direction === 'right'">

        <div class="project-content">

          <div class="image-group">
            <div class="group">
              <img class="img-frame" src="assets/frame.png" alt="frame">
              <img
                class="img-project"
                [routerLink]="project.link"
                [src]="project.img"
                [alt]="project.alt">
            </div>
          </div>

          <div class="project-info">
            <div class="title-section">
              <img class="wing" src="assets/butterfly-path.png" alt="wing">
              <h2 class="title-project">{{ project.title }}</h2>
              <img class="wing second-wing" src="assets/butterfly-path.png" alt="wing">
            </div>
            <p class="description">{{ project.description }}</p>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="navigation-container">
    <button class="carousel-button prev" (click)="prev()">&#10094;</button>
    <div class="project-indicator">
      <p>{{ currentIndex + 1 }} / {{ projects.length }}</p>
    </div>
    <button class="carousel-button next" (click)="next()">&#10095;</button>
  </div>

</div>
